<h3>Status</h3>
<ul class="list-group">
    <li class="list-group-item">
        <h4 class="list-group-item-heading">Tagesrezept</h4>
        <p class="list-group-item-text"><%= dailyrecipe %></p>
    </li>
    <li class="list-group-item">
        <span class="badge"><%= recipes %></span>
        <h4 class="list-group-item-heading">Rezepte</h4>
    </li>
    <li class="list-group-item">
        <span class="badge"><%= users %></span>
        <h4 class="list-group-item-heading">User</h4>
    </li>
    <li class="list-group-item">
        <span class="badge"><%= ingredients %></span>
        <h4 class="list-group-item-heading">Zutaten</h4>
    </li>
    <li class="list-group-item">
        <span class="badge"><%= tags %></span>
        <h4 class="list-group-item-heading">Tags</h4>
    </li>
</ul>
<h3>DB-Status</h3>
<ul class="list-group">
    <li class="list-group-item">
        <h4 class="list-group-item-heading">Active</h4>
        <p class="list-group-item-text"><%= active %>/<%= maxActive %></p>
    </li>
    <li class="list-group-item">
        <h4 class="list-group-item-heading">Idle</h4>
        <p class="list-group-item-text"><%= idle %>/<%= maxIdle %></p>
    </li>
</ul>
