<td class="image"><img src="<%=imagePath %>"/></td>
<td class="shortName"><%= shortName %></td>
<td class="fullName"><%= fullName %></td>
<td class="redirect"><a href="<%= redirect %>"><%= redirect %></a></td>
