<td class="name <% if(orderBy === 'name') { print('active'); } %>"><a target="_blank" href="<%= recipeURI %>"><%= name %></a></td>
<td class="created <% if(orderBy === 'created') { print('active'); } %>"><%= created.toLocaleDateString() %></td>
<td class="views <% if(orderBy === 'views') { print('active'); } %>"><%= views %></td>
<td class="activeId <% if(orderBy === 'activeId') { print('active'); } %>">
    <% if(active){ %>
        <span class="label label-success">aktiv</span>
    <% } else { %>
        <span class="label label-danger">inaktiv</span>
    <% } %>
</td>
<td><a href="#recipe/<%= name %>">Details</a></td>
