<td><%= id %></td>
<td><%= name %></td>
<td><%= createdate %></td>
<td><%= lastlogin %></td>
<td>
    <% if(level === 0){ %>
    <span class="label label-success">aktiv</span>
    <% } %>
    <% if(level === 2){ %>
    <span class="label label-warning">admin</span>
    <% } %>
    <% if(facebookID > 0){ %>
    <span class="label label-primary">Facebook</span>
    <% } %>
</td>
<td><a href="#user/<%= id %>">Details</a></td>
