<div class="media">
    <a href="" class="pull-left">
        <img src="<%= image.small %>" alt="" class="media-object">
    </a>

    <div class="media-body">
        <h4 class="media-heading">Id: <%= id %> <small>von <a target="_blank" href="http://anycook.de/#/profile/<%= author.id %>"><%= author.name %></a></small></h4>
        <p><%= description %></p>
        <p>
            <% if(id === activeId) { %>
            <span class="label label-success">aktiv</span>
            <% } %>
            <span class="label label-default">Zutaten: <span class="numIngredients"></span></span>
            <span class="label label-default">Schritte: <span class="numSteps"></span></span>
        </p>

    </div>
</div>
